body {
  margin: 0;
  font-family: 'Open sans', Lato, san-serif;
}

div#menu {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 1em;
}

ul li a:hover{
    color: #444444;
}

ul.nav-sub ul li a {
      padding-left: 2em;
}

#footer {
  bottom: 0px;
  padding-left: 2em;
  position: fixed;
}

div#main-text-area{
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  width: 90%;
  margin-left: 1em; 
  opacity: 0.9;
}

div#logo img{
  top: 0px;
  padding:1em;
  width: 8em;
  border-radius: 5em;
  position: fixed;

}

div#nav-links {
  margin-top: 10em;
  padding-left: 2em;
  position: fixed;
  float: left;
}

div#social {
  padding: 2em;
  position: fixed;
  bottom: 1em;
}

div#social a:hover{
    color: #444444;
}

div#index-post {
  position: relative;
  float: right;
  margin-top: 5em;
  width: 70%;
  height: 80%;
  padding-right: 3em;

}

h2 {
  font-size: 2em;
  font-weight: 300;
  margin-top: 0;
}

h4 {
  font-weight: 300;
  margin: 0;
}

p#date {
  color: #444444;
}

p {
  font-size: 13px;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: .8em;
}

a {
  text-decoration: none;
  color: #D1522E
}

pre {
  background-color: #eeeeee;
  padding: 0.5em;
}